<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="fileServer" value="PTT-RPAFILE-U01"/>
    <add key="ignoreList" value="SYSTEM,Administrator,RPA Robot,oprlc,meena.u-admin,RPA COE,RPA MEC BOT,thanakrit.y-admin"/>
    <add key="domain" value=".corp"/>
  </appSettings>
</configuration>